.add-liquor-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .add-liquor-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .add-liquor-form input,
  .add-liquor-form textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 1000px;
  }
  
  .add-liquor-form button[type="submit"] {
    background-color: #0077c2;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
  }
  
  .add-liquor-form button[type="submit"]:hover {
    background-color: #0061a7;
  }
  